.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
}

.navMenu {
    display: flex;
    gap: 1.5em;
    color: var(--white);
}

.navLink, .activeNavLink {
    font-size: 0.9em
}

.activeNavLink  {
    color: lightgrey;
}

.activeNavLink:hover {
    color: var(--white)
}


.navIconWrapper {
    display: flex;
    align-items: center;
    gap: 0.75em;
}

.navIconWrapper > span:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: var(--primary-accent);

}

.icon {
    font-size: 0.75em;
    color: var(--secondary);
}