.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer {
    margin: 3em 0;
}

.tabContainer {
    display: flex;
}

.activeTab, .tab {
    padding: .5em 3em;
    font-weight: bold;
    line-height: 2em;
    cursor: pointer;
}


.activeTab {
    border-bottom: 2px solid var(--primary-accent);
    color: var(--primary-accent);
}
